.book-list-item-component {
  padding: 12px 16px;
  height: 210px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-bottom: 1px solid;
  @apply border-grey-grey100;
}
.book-list-item-component:last-child {
  border-bottom: none;
}
.book-item-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book-item-info--title {
  margin-bottom: 4px;
}
.book-item-cover--img {
  width: 100%;
  height: 210px;
}
.book-item-cover--img img {
  width: 100%;
  max-width: 100%;
  height: 210px;
  max-height: 210px;
  object-fit: contain;
}
.book-item-info--options {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}
.book-item-info--options__button {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-item-info--options__button:first-child {
  font-weight: 500;
  @apply bg-blue-blue300 text-grey-grey950;
}
.book-item-info--options__button:nth-child(2) {
  @apply border border-solid border-grey-grey950;
}
.book-item-info--options__button:nth-child(2):disabled {
  @apply text-grey-grey950;
}
.book-item-info--options__button:last-child {
  grid-column: 1/3;
  @apply bg-grey-grey950 text-grey-grey50;
}
